@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'poop';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Corben-Bold.ttf') format('truetype');
}

//Variables

//Colors
$primary: #fff6e5;
$secondary: #fd8844;
$secondary-2: #ffc8a9;
$secondary-3: #f9dfd0;
$black: #16293e;
$white: #fffcf7;

//Dimensions
$break-mobile: 860px;
$break-tablet: 1024px;
$mobile-and-tablet: 1024px;
$max-width: 1200px;

//Fonts
$font-h1: 'Corben';
$font-h2: 'RobotoMono';
$font-h3: 'RobotoMono';

body {
  background: $primary;
  margin: 0;
  color: $black;
  font-family: $font-h3, monospace;
  line-height: 139.8%;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
  margin: 0;
  max-width: $max-width;
}

#logoType {
  font-family: $font-h1, sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 48px;
  line-height: 146.8%;
  text-align: center;
}
.body1 {
  font-family: $font-h3, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.body1-mobile {
  font-family: $font-h3, sans-serif;
  font-size: 14px;
  line-height: 135%;
  font-weight: 500;
  letter-spacing: -0.045em;
}
.body2 {
  font-family: $font-h3, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
}
h1 {
  font-family: $font-h1, sans-serif;
  font-weight: 900;
  font-style: normal;
  position: relative;
  display: inline-block;
  font-size: 32px;
  line-height: 146.8%;

  @media screen and (max-width: $break-mobile) {
    font-size: 33px;
    line-height: 61px;
  }
}

h2 {
  font-family: $font-h2, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.06em;
}

h3 {
  font-family: $font-h2, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 139.8%;
  margin-top: 12px;
}

p {
  font-family: $font-h3, monospace;
  line-height: 139.8%;
  font-size: 16px;
}

.subtitle {
  font-family: $font-h2, monospace;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  color: $black;
}
.subtitle .orange {
  color: $secondary;
}

.header {
  background: $primary;
  color: $black;
  margin-bottom: 48px;
  padding-bottom: 20px;
  margin-top: 48px;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  .headerContent {
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerLink {
    color: $black !important;
    font-weight: 900 !important;
    text-decoration: none !important;
  }
  ul {
    list-style-type: none;
    display: flex;
    position: relative;
    font-size: 16px;
  }
  li {
    padding: 8px 8px;
    margin: 0 12px;
  }
  li:nth-child(5) {
    margin-right: 0px;
    padding-right: 0px;
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop40 {
  margin-top: 40px;
}

.marginTop60 {
  margin-top: 60px;
}

footer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  .footer_social {
    display: flex;
    img {
      width: 32px;
      height: 32px;
    }
  }
  a {
    padding: 7px 7px 0px 7px;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  max-width: $max-width;
  margin-top: 56px;
  position: relative;

  @media screen and (max-width: $break-tablet) {
    padding: 15px 0px 15px 0px;
  }
}

.splash_text {
  margin-bottom: 48px;
}

.dropdown {
  border: 2px solid #fd8846;
  box-sizing: border-box;
  border-radius: 30px;
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 36px;
  img {
    width: 25px;
    height: auto;
  }
}

.title-box {
  background-color: rgba(249, 223, 208, 0.8);
  padding: 12px;
  text-align: left;
  position: absolute;
  bottom: 40px;
  right: 0;
}

.modal-container {
  width: 973px;
  height: 775px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  img {
    height: 272px;
    width: auto;
    position: absolute;
    top: 0;
  }
}
