// Contains styles for the temporary website, which mainly consist
//  of changing fonts to Comic Sans and maintaining a white background
@import 'defaults';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700');

$font-temp: 'Comic Sans MS', 'Comic Sans', 'Comic Neue';

body {
  background: white;
  color: $black;
  font-family: $font-temp, sans-serif;
}

#logoType, pre, h1 pre,
h1, h2, h3, p, .subtitle, .body2 {
  font-family: $font-temp, sans-serif;
  clear: both;
  padding: 0 20px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
}

p, ul {
  font-size: 18px;
  display: inline-block;
  clear: both;
  text-align: left;
  max-width: 20%;
  @media screen and (max-width: $break-mobile) {
    max-width: 80%;
  }
}

a {
  text-decoration: underline;
}

.body1 {
  font-family: $font-temp, sans-serif;
  @media screen and (max-width: $break-mobile) {
    font-family: $font-temp, sans-serif;
  }
}

h1 {
  @media screen and (max-width: $break-mobile) {
    font-size: 33px;
    line-height: 61px;
  }
}

h3 {
  @media screen and (max-width: $break-mobile) {
    font-family: $font-temp, sans-serif;
    font-size: 24px !important;
  }
}
.subtitle .orange {
  color: $secondary;
}

.header {
  background: $white;
  color: $black;
}

img {
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 64px;
  margin-right: 64px;
  max-width: 256px;
  width: 100%;
}