@import 'modules/defaults';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue');

//HOME
.home {
  margin-bottom: 56px;
}
//TEAM
.team_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.team_component {
  padding: 24px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 268px;
}
.team_card {
  img {
    width: 268px;
    height: auto;
  }
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  position: relative;
}

.team_links {
  img {
    width: 32px;
    height: 32px;
    padding: 7px 7px 7px 0px;
  }
}

.back {
  position: absolute;
  top: 0%;
  background-color: $secondary-2;
  display: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  // padding: 24px 24px 24px 12px;
  padding: 14px 14px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-y: auto;
  opacity: 0;
  transition: 0.2s ease-in-out all;

  img {
    height: 32px;
    width: 32px;
    padding-right: 10px;
    margin-top: 10px;
  }
  .body1 {
    padding-top: 10px;
    font-size: 12px;
  }
}

.team_socials {
  display: flex;
}

.team_card:hover {
  .back {
    opacity: 1;
  }
}

.team_name {
  font-weight: 900;
}

//PROJECTS

.project_card {
  width: 265px;
  height: 271px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  margin: 24px 35px 24px 0px;
  cursor: pointer;
  img {
    height: 271px;
    width: auto;
  }
}

.project_quarter {
  width: $max-width;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project_content {
  margin: 0 auto;
  max-width: $max-width;
  padding: 40px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project_img {
    max-height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: $max-width;
    img {
      width: 1000px;
      height: auto;
    }
  }
  .project_text {
    z-index: 1;
    margin-top: 36px;
  }
}

//APPLY

.appPosition {
  padding: 24px 42px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 268px;
}

.eventsContent {
  display: flex;
  flex-direction: column;
  h3 {
    margin-top: 18px;
  }
}
