@import 'modules/defaults';

.project_card {
  width: 265px;
  height: 271px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  margin: 24px 35px 24px 0px;
  cursor: pointer;
}

.project_quarter {
  width: $max-width;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
