@import 'modules/defaults';

.team_container {
  display: flex;
  justify-content: left;
}
.team_component {
  padding: 24px 42px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_card {
  img {
    width: 268px;
    height: auto;
  }
  overflow: hidden;
  border-radius: 16px;
  width: 268px;
  height: 268px;
}

.team_name {
  font-weight: 900;
}
